* {
  text-decoration: none;
  list-style: none;
}

a:hover {
  opacity: 0.6;
  transition: 0.4s;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}

.header__logo {
  width: 80px;
  height: 30px;
  padding-left: 30px;
  align-items: center;
}

.header__logo img {
  width: 100%;
}


.header__list {
  display: flex;
}

.header__list-item a {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.header__list-item:last-child {
  padding-right: 30px;
}

.menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: White;
  text-align: center;
  padding-top: 100px;
  line-height: 80px;
  font-size: 14px;
  transition: 1s;
}

@media screen and (max-width:768px) {


  .humberger-menu {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 32px;
    top: 0;
    right: 20px;
  }

  .menu-top,
  .menu-middle,
  .menu-bottom {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #000;
    transition: 0.5s;
  }

  .menu-top {
    top: 0;
  }

  .menu-middle {
    top: 14px;
  }

  .menu-bottom {
    bottom: 0;
  }

  .humberger-menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .humberger-menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .humberger-menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .header__list {
    display: none;
  }

  .menu.in {
    transform: translateX(100%);
    transition: 1s;
  }

}

.heading {
  margin-top: 80px;
  background: url(../img/mv.png) center;
  background-size: cover;
  height: 350px;
  position: relative;
}

.heading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 42px;
}

.company-wrapper {
  width: 80%;
  margin: 100px auto;
}

table {
  width: 100%;
}

table tr {
  border-top: 1px solid #000;
}

table th {
  padding: 20px 0;
}

table tr:last-child {
  border-bottom: 1px solid #000;
}

.contact-wrapper {
  background-color: rgb(249, 249, 249);
  text-align: center;
  padding: 100px 0;
}

.contact__ttl {
  font-weight: bold;
  font-size: 32px;
}

.contact__text {
  font-size: 18px;
  padding: 20px 0;
}

.contact__link {
  display: inline-block;
  background-color: rgb(231, 39, 39);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 80px;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: rgb(69, 69, 69);
  color: #fff;
  height: 70px;
  align-items: center;
}


.footer__list {
  display: flex;
  margin-right: -15px;
}

.copyright {
  font-size: 1vw;
}

.footer__list-item {
  font-size: 1vw;
}

.footer__list-item a {
  color: #fff;
  display: inline-block;
}

.footer__list-item:not(:last-child)::after {
  content: "|";
  color: #fff;
  padding: 10px;
}

@media screen and (max-width:768px) {

  .footer {
    height: 300px;
  }

  .copyright {
    font-size: 8px;
  }

  .footer__list {
    display: block;
    text-align: center;
  }

  .footer__list-item {
    padding: 10px 0;
    font-size: 8px;
  }

  .footer__list-item:not(:last-child)::after {
    content: "";
  }
}